.menu{
    background-color: beige;
}

.encabezado{
    background-color: rgb(255, 255, 255);
    padding: 3%;
    display: flex;
    }
    .titulo{
        margin: 5%;
        padding: 5%;
        background-color: rgb(22, 22, 22);
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 100%;
        color: white;
        
    }
    .emprendedores{
        padding: 5%;
        background-color: rgb(192, 196, 255);
        width: 50%;
        max-width: 600px;
        align-content: flex-end;
        margin: auto;
        
    }

    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
        transform: translateY(-3%);
    }
    .card{
        align-items: center;
    }

    .footer{
        background-color: beige;
    }

    .encabezado2{
background-color: rgb(59, 130, 139);
    }
   